<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="conDataSnap" 
         connectionString="CommunicationProtocol=tcp/ip;Hostname=127.0.0.1;Port=211"
         providerName="Borland.Data.DbxClientDriver"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.6"/>
  </system.web>
</configuration>