<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="conDataSnap" 
         connectionString="CommunicationProtocol=tcp/ip;Hostname=127.0.0.1;Port=211"
         providerName="Borland.Data.DbxClientDriver"/>
  </connectionStrings>
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>